.vscode/**
.vscode-test/**
out/**
src/**
images/screenshot.gif
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
node_modules/**
.vscode
tsconfig.json
webpack.config.js
